<h5>{{@user}}</h5>
<img class="circle player" src="http://pluspng.com/img-png/user-png-icon-male-user-icon-512.png">
<div class="row">
	<div class="col s9">
		
			{{#power-select disabled=(if (not-eq @status 2) true) selected=selected options=options onchange=(action "chooseGame") as |option|}}
			  {{option}}
			{{/power-select}}
	</div>
	<div class="col s3">
		<a class="btn-floating btn-large waves-effect waves-light red" onclick={{action "play"}}><i class="material-icons">play_arrow</i></a>
	</div>
</div>