<div class="row">
	<div class="col s12 crear-header">
		<div class="row">
			<div class="col s4">
				<h5 class="center-align">Código: </h5>
			</div>
			<div class="col s4">
				<h5 class="center-align">Status: </h5>
			</div>
			<div class="col s4">
				<h5 class="center-align">Jugadores: </h5>
			</div>
			<div class="col s6">
				<a class="btn disabled">Comenzar Juego</a>
			</div>
			<div class="col s6 right-align">
				<a class="waves-effect waves-light btn">Salir</a>
			</div>
		</div>
	</div>
	<div class="col s6 center-align">
		<Player @name="Jugador 1"></Player>
	</div>
	<div class="col s6 center-align">
		<Player @name="Jugador 2"></Player>
	</div>
</div>