<div class="row">
	<div class="col s12 l2 offset-l1 center-align">
		<LinkTo @route="game.crear"><a class="waves-effect waves-light btn blue btn-create"><i class="material-icons left">add</i>Crear Juego</a></LinkTo>
	</div>
	<div class="col s12 l8 offset-l2 table-game">
		<table class="striped centered">
		    <thead>
		      <tr>
		          <th>Código</th>
		          <th>Status</th>
		          <th>Jugadores</th>
		          <th>Jugar</th>
		      </tr>
		    </thead>

		    <tbody>
		      {{#each this.model as |game|}}
		      	<tr>
		      		
			        <td>{{game.id}}</td>
			        <td>{{game.status}}</td>
			        <td>{{game.total_users}}</td>
			        <td>
			        	{{#if game.status}}
			        		<a class="waves-effect waves-light btn blue"><i class="material-icons left">videogame_asset</i>Join</a>
			        	{{/if}}
			        </td>
			      </tr>
		      {{/each}}
		    </tbody>
		</table>
	</div>
</div>